*{
    margin: 0;
    padding : 0;
    margin-right: 0;
    box-sizing: border-box;
}
body{
    background-color: black;
}
nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 8vh;
    background-color: rgb(0, 0, 0);
    font-family: 'Righteous', cursive;
    font-size-adjust: inherit;
}
nav li a:hover{
    color: crimson;
}
.logo{
    color: rgb(236, 242, 247);
    justify-content: flex-start;
}
.nav-links{
    display: flex;
    justify-content: space-around;
    width: 30%;
}
.nav-links li{
    list-style: none;
}
.nav-links a{
    color: rgb(236, 242, 247);
    text-decoration: none;
    letter-spacing: 3px;   
    font-weight: bold;
    font-size: 14px;
}
/* .sidebar{
    display: none;
    cursor: pointer;
}
.sidebar div{
    width: 20px;
    height: 3px;
    background-color: rgb(236, 242, 247);
    margin: 5px;
} */
.body1{
    background-image: url("background.jpg");
    width: 100vw;
    height: 100vh; 
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
}
.contain{
    position: absolute;
    width: 10%;
    top: 50%;
    left: 35%;
    transform: translate(-55%,-55%);
}
.contain2{
    position: absolute;
    width: 25%;
    top: 50%;
    left: 58%;
    transform: translate(-55%,-55%);
}
}
.search{
    width: 100%;
    position: relative;
}
.searchterm{
    float: left;
    width: 100%;
    border: 3px solid burlywood;
    padding: 11px;
    font-size: 17px;
    outline: none;
}
.searchterm:focus{
    color: brown;
    border: 3px solid #fff;
}
.searchbtn{
    position: absolute;
    width: 50px;
    height: 53px;
    border: 1px solid burlywood;
    background-color: burlywood;
    text-align: center;
    color: #fff;
    cursor: pointer;
    font-size: 18px;
}
input{
    border-top-left-radius: 9999em;
    border-bottom-left-radius: 9999em;
}
button{
    border-top-right-radius: 9999em;
    border-bottom-right-radius: 9999em;
}
#quote{
    position: absolute;
    top: 40%;
    left: 45%;
    color: #fff;
    transform: translate(-40%,-40%);
    font-size: 40px;
}
#quote p{
    margin: 0;
    padding: 0;
    color: transparent;
    background-image: linear-gradient(to right,rgb(247, 56, 9),#ffff00);
    -webkit-background-clip: text;
    animation: animate 20s linear infinite;
    font-family: 'Niconne', cursive;
    background-size: 1000%;
}
@keyframes animate
{
    0%{
        background-position: 0% 100%;
    }
    50%{
        background-position: 100% 0%;
    }
    100%{
        background-position: 0% 100%;
    }
}
.hov:hover
{
    transform: scale(1.1);
}
/* @media screen and (max-width:1024px)
{
    .nav-links{
        width: 60%;
    }
    .logo{
        width: 10%;
    }
}
@media screen and (max-width:768px)
{
    body{
        overflow-x: hidden;
    }
    .nav-links{
        position: absolute;
        right: 0px;
        height: 92vh;
        top: 8vh;
        background-color: rgb(0, 0, 0);
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 50%;
        transform: translateX(100%);
        transition: transform 0.5s ease-in;
    }
    .nav-links li{
        opacity: 0;
    }
    .sidebar{
        display: block;
    }
}
.nav-active{
    transform: translateX(0%);
}
@keyframes navLinkFade{
    from{
        opacity: 0;
        transform: translateX(50px);
    }
    to{
        opacity: 1;
        transform: translate(0px);
    }
} */
